/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Roboto+Slab&display=swap');
body, html, h1, p, div {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Slab', serif;  */
  }
  
  .app {
    display: flex;
    overflow-x: auto;
  }

  .antiqua {
    font-family: 'Glass Antiqua', cursive;
  }

  .roboto {
    font-family: 'Roboto Slab', serif; 
  }
  
  .screen {
    min-width: 100vw;
    overflow: hidden;
    position: relative;
    color: white;
  }
  
  /* Header Styles */
  header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  /* Main Content Styles */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
  }
  
  /* Notification, Task List, and Create Styles */
  .notification, .task-list, .create {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
    /* Further styling will be needed */
  }

  audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #eac89e;
   
     }

.page {
     -webkit-animation-duration: 30s;
            animation-duration: 30s ;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%) skewY(0deg);
}
 15% {
    -webkit-transform:  skewY(-1deg)  translateY(1%) ;
}
85% {
    -webkit-transform: skewY(1deg)  translateY(-1%) ;
}
100% {
    -webkit-transform: translateX(0%) skewY(0deg);
}
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}


@keyframes wobble2 {
  0% {
    -webkit-transform: translateX(0%) skewY(0deg);
}
 30% {
    -webkit-transform:  skewY(0deg) translateY(0%) ;
}
67% {
    -webkit-transform: skewY(-1deg)  translateY(-1%) ;
}
100% {
    -webkit-transform: translateX(0%) skewY(0deg);
}
}

.wobble2 {
  -webkit-animation-name: wobble2;
  animation-name: wobble2;
}
  

  